<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/styles.css"> <!--relative path to app.js in folder src-->
  </head>
   <body>
     <div class="min-content">
     {{>header}}
     <p>{{errorMessage}}</p>
   </div>
     {{>footer}}
     </body>
  </html>
