<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/styles.css"> <!--relative path to app.js in folder src-->
  <link rel="icon" href="/img/coffee.jpg">
  <scriot src=
  </head>
   <body>
     <div class="min-content">
     {{>header}}
     It is a about file.
     <h1>{{title}}</h1>
     <p>created by {{name}}</p>

     <img class="portrait" src="/img/coffee.jpg">
   </div>
     {{>footer}}
     </body>
  </html>
